.card {
  position: relative;
  perspective: 150rem;
  width: 100%;
  height: 45rem;

  &__side {
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.15);
    border-radius: 5rem;
    overflow: hidden;
    height: 45rem;
    color: $color-white;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; // hide the BACK element
    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: $color-seagreen;
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right,
          $color-secondary-light-orange,
          $color-secondary-dark-orange
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right,
          $color-light-blue,
          $color-dark-blue
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right,
          $color-tertiary-light-green,
          $color-tertiary-dark-green
        );
      }
    }
  }

  &__picture {
    clip-path: ellipse(80% 70% at 50% 30%);
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; // the picture background will mixed up with the color background below
    &--1 {
      background-image: linear-gradient(
          to right,
          $color-secondary-light-orange,
          $color-secondary-dark-orange
        ),
        url("/img/project-5.jpg");
    }
    &--2 {
      background-image: linear-gradient(
          to right,
          $color-light-blue,
          $color-dark-blue
        ),
        url("/img/project-4.jpg");
    }
    &--3 {
      background-image: linear-gradient(
          to right,
          $color-tertiary-light-green,
          $color-tertiary-dark-green
        ),
        url("/img/project-6.jpg");
    }
  }

  &__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    color: $color-white;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 75%;
  }

  &__heading-span {
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; //heading-span 'Control' and 'your time' is in the same block
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light-orange, 0.85),
        rgba($color-secondary-dark-orange, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-light-blue, 0.85),
        rgba($color-dark-blue, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light-green, 0.85),
        rgba($color-tertiary-dark-green, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    color: $color-gray;
    ul {
      list-style: none;
      width: 70%;
      margin: 0 auto;
      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid #dbdbdb;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 5rem;
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
